transformers
datasets
pandas
numpy
scikit-learn
torch
pyyaml
torch
fairscale
fire
tiktoken
blobfile
accelerate
diffusers
scipy
ftfy
fire
wandb
safetensors
opencv-python
torchvision
mediapipe
beir
peft